{{ define "main" }}

<main>
    DATA TEST:
    <hr> {{ range .Site.Data.users}} {{ .name}} {{ .surname}} <br> {{ end}}
    <hr> {{ range getJSON "https://jsonplaceholder.typicode.com/photos?_limit=3" }}
    <img style="float:left;" src="{{ .thumbnailUrl }}" alt="{{ .title}}"> {{end}}
    <div class="post">
        {{ partial "single/post-info.html" . }} {{ partial "single/title.html" . }} {{ partial "single/header.html" . }} {{ .Content }} {{partial "comments.html" . }} {{ partial "single/footer.html" . }}
    </div>

    <div class="pagination">
        {{- if .PrevPage }}
        <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a> {{- end }} {{- if .NextPage }}
        <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a> {{- end }}

        <a href="#" class="top">Top</a>
    </div>
</main>

{{ end }}